{% extends 'index.html' %}
{% block content %}
    {% load embed_video_tags %}
    <h1>YouTube</h1>
    {% for item in video %}
        <div class="container">

            <div class="card mb-6 mt-4">
                {% video item.url '700 x 400' %}

                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.date }}</p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock content %}

